body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  h1 {
    font-family: 'Gelasio', serif;
  }

  .textarea{
    background: transparent;
    font-size: medium;
    /* background-color: #fa0ab2; */
    float: right;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding-left: 1px;
    padding: 10px;
    padding-top: 10px;
    width: 80%;
    height: 76px;
    margin-top: -18px;
    
    
  }

  .inputbox{
    background: transparent;
    font-size: x-small;
    /* background-color: #fa0ab2; */
    float: right;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding-left: 1px;
    /* padding: 10px; */
    width: 80%;
    height: 76px;
    margin-top: -18px;
    rows: 4;
    

  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: left;
    border-radius: 15px;
    padding-left: 25px;
    padding-top: 20px;
    width: 80%;
    height: 78px;
    font-kerning: auto;
    font-size: xx-large;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }

  .save-icon{
    height: 60px;
    align-content: flex-end;
    margin: 5px;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
  .hide {
    display: none;
}